.labels-text {
	font-size: 20px;		
}

.inputs-text{
	color : #282828;
	font-size: 20px;		

}
 .option-text{
 	color : #fff;
 	font-size: 18px;
 	background-color:#6BA9D7;
 }

 .button-edit{
 	color : #fff;
 	font-size: 20px;
 	background-color:#5573AD ;
 }

 .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
   // background-color: #fff;
    padding: 10px 00px 10px 00px;
    background: rgb(0, 0, 0) transparent;
   // background-color: rgba(0, 0, 0, 0.6);
}

.flex-item {
   background: rgb(0, 0, 0) transparent;
   // background-color: red;
    width: 20px;
    height: 15px;
   //margin: 10px;
}