<div class="col-md-6"> 
 <ba-card title="Stores List" baCardClass="with-scroll table-panel">  
	<div>
    	<h1>Store Detail</h1>
  	</div>
	<div class="table-responsive">
  		<table class="table">
		    <tr class="labels-text">
		      <th>Name</th>
		      <th>Description</th>
		      <th>Address</th>
		      <th>Phone</th>
		    </tr>
		    <tr *ngFor=" let s of store" 
			(click)=" selectStore(s._id)"
		    class="inputs-text">
		      <td>{{s.name}}</td>
		      <td>{{s.description}}</td>
		      <td>{{s.address}}</td>
		      <td>{{s.phone}}</td>
		    </tr>
		</table>    
	</div>
 </ba-card>
</div>

<div class="col-md-6"> 
<ba-card title="Map of Stores">
	<google-maps [storeId]="id_Store" *ngIf="editing" ></google-maps>
</ba-card>

    

</div> 