.google-maps {
  width: 100%;
  height: calc(100vh - 283px);
 // height: 320px;
  color: black;
}

.google-maps-detail {
  width: 100%;
  height:50%;
  color: black;
}

.google-maps-2 {
  width: 100%;
  //height: calc(100vh - 283px);
 	height: 320px;
  color: black;
}


