<div class="horizontal-scroll">
  <table class="table table-hover">
    <thead class="labels-text">
      <tr class="black-muted-bg">
        <!-- <th class="browser-icons"></th> -->
        <th>Job Id</th>
        <th class="align-right">Manager</th> 
        <th class="align-right">Client</th>  
        <th class="align-right">Type</th>
        <th class="align-right">Client</th>
        <th class="align-right">Status</th>
        <th class="align-right">Store</th>

      </tr>
    </thead>
    <tbody class="inputs-text">
      <tr  *ngFor="let item of job" class="no-top-border" 
      (click)="selectJob(item.jobid)">
          <td ngClass="nowrap">{{item.jobid}}</td>
          <td class="align-right">{{item.manager}}</td>
          <td class="align-right">{{item.brand}}</td>
          <td class="align-right">{{item.type}}</td>
          <td class="align-right">{{item.client}}</td>
          <td class="align-right">{{item.status}}</td>
          <td class="align-right">{{item.store}}</td>
      </tr>
    </tbody>
  </table>
</div>     
<!-- <td><img src="{{ ( item.image | baAppPicture ) }}" width="20" height="20"></td> -->
    
<!--  <th class="table-arr"></th>
  <th class="table-arr"></th>
  <th class="table-arr"></th>

  <td ngClass="nowrap">{{item.browser}}</td>
      <td class="align-right">{{item.visits}}</td>
      <td class="table-arr"><i [ngClass]="{'icon-up': item.isVisitsUp, 'icon-down': !item.isVisitsUp }"></i></td>
      <td class="align-right">{{item.purchases}}</td>
      <td class="table-arr"><i [ngClass]="{'icon-up': item.isPurchasesUp, 'icon-down': !item.isPurchasesUp }"></i></td>
      <td class="align-right">{{item.percent}}</td>
      <td class="table-arr"><i [ngClass]="{'icon-up': item.isPercentUp, 'icon-down': !item.isPercentUp }"></i></td> 

 jobid: "job-1",
      manager: "Laurie Chalmers",
      brand: "apple",
      type:
      -->